<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ares.article.dao.ArticleMapper">
	<sql id="selectArticleId">
	<!-- 获得指定标签下文章列表 -->
		SELECT article_id FROM tag_of_article where tag_id=#{tagId}
	</sql>
	<sql id="pagination">
	<!-- 分页 -->
		LIMIT #{pageNum},#{pageSize} 
	</sql>
	<sql id="ordering">
	<!-- 排序 -->
		ORDER BY article_sort DESC
	</sql>
	<sql id="baseQuery">
		SELECT 
		article_base.article_id,article_base.article_sort,article_base.article_title,article_base.create_time,article_base.article_state,article_base.article_intro,article_data.comment_num,article_data.share_num,article_data.watch_num,article_tag.tag_id,article_tag.tag_name 
		FROM article_base,article_data,article_tag,tag_of_article
		WHERE article_base.article_id=tag_of_article.article_id AND article_tag.tag_id=tag_of_article.tag_id
	</sql>
	<sql id="getMaxArticleId">
		SELECT MAX(article_id) FROM article_base
	</sql>
	<sql id="getMaxSort">
		SELECT MAX(article_sort) FROM article_base
	</sql>
	
	<resultMap id="BaseResultMap" type="com.ares.article.po.ArticleBase">
		<id column="article_id" property="articleId" jdbcType="INTEGER" />
		<result column="article_sort" property="articleSort" jdbcType="INTEGER" />
		<result column="article_title" property="articleTitle"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="article_state" property="articleState"
			jdbcType="INTEGER" />
		<result column="article_intro" property="articleIntro"
			jdbcType="VARCHAR" />
		<result column="comment_num" property="commentNum"
			jdbcType="INTEGER" />
		<result column="share_num" property="shareNum"
			jdbcType="INTEGER" />
		<result column="watch_num" property="watchNum"
			jdbcType="INTEGER" />
		<collection property="articleTags" ofType="com.ares.article.po.ArticleTag">
			<id column="tag_id" property="tagId"/>
			<result column="tag_name" property="tagName"/>
		</collection>
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.ares.article.po.ArticleBase"
		extends="BaseResultMap">
		<result column="article_content" property="articleContent"
			jdbcType="LONGVARBINARY" />
	</resultMap>
	
	<select id="getArticleById" parameterType="integer" resultMap="ResultMapWithBLOBs">
		SELECT 
		*
		FROM article_base,article_data,article_tag,tag_of_article WHERE article_base.article_id=#{articleId} AND article_base.article_id=tag_of_article.article_id AND article_tag.tag_id=tag_of_article.tag_id
	</select>
	
	<delete id="deleteArticleById" parameterType="integer">
		DELETE FROM article_base WHERE article_id=#{articleId};
		DELETE FROM article_data WHERE article_id=#{articleId};
	</delete>
	
	<update id="updateArticle" parameterType="com.ares.article.po.ArticleBase">
		UPDATE article_base SET 
		article_sort=#{articleSort},
		article_title=#{articleTitle},
		create_time=#{createTime},
		article_state=#{articleState},
		article_intro=#{articleIntro},
		article_content=#{articleContent}
		WHERE article_id=#{articleId}
	</update>
	
	<insert id="addArticle" parameterType="com.ares.article.po.ArticleBase">
		<selectKey keyProperty="articleId" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID();
		</selectKey>
		INSERT INTO article_base (article_sort,article_title,create_time,article_state,article_intro,article_content)
		VALUES
		((<include refid="getMaxSort"/>),#{articleTitle},#{createTime},#{articleState},#{articleIntro},#{articleContent});
		<!-- 同时创建关联data表 -->
		INSERT INTO article_base (article_id,watch_num,share_num,comment_num)
		VALUES
		((<include refid="getMaxArticleId"/>),0,0,0);
	</insert>
	
	<!-- 通过第三方表，建立多对多关系 -->
	<select id="getArticleByTagId" resultMap="ResultMapWithBLOBs">
		SELECT article_sort,article_title,create_time,article_state,article_intro FROM article_base
		WHERE 
		article_id IN (<include refid="selectArticleId"/>)
		<include refid="ordering"/>
		<include refid="pagination"/>
	</select>
	
	<select id="getArticles" resultMap="ResultMapWithBLOBs">
		<include refid="baseQuery"/>
		AND article_base.article_sort=0
		UNION
		(<include refid="baseQuery"/>
		AND article_base.article_id=article_data.article_id AND article_base.article_sort&lt;&gt;0
		<include refid="ordering"/>
		<include refid="pagination"/>)
	</select>

</mapper>