<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ares.article.dao.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.ares.article.po.ArticleBase">
		<id column="article_id" property="articleId" jdbcType="INTEGER" />
		<result column="article_sort" property="articleSort" jdbcType="INTEGER" />
		<result column="article_title" property="articleTitle"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="article_state" property="articleState"
			jdbcType="INTEGER" />
		<result column="article_intro" property="articleIntro"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.ares.article.po.ArticleBase"
		extends="BaseResultMap">
		<result column="article_content" property="articleContent"
			jdbcType="LONGVARBINARY" />
	</resultMap>
	
	<select id="getArticleById" parameterType="integer" resultMap="ResultMapWithBLOBs">
		SELECT * FROM article_base WHERE article_id=#{articleId}
	</select>

</mapper>